#my-punches{
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  padding: 15px;
}

.new-punch-button{
  background-color: #007FBA;
  border-radius: 2px;
  color: white;
  padding: 5px;
  height: 100%;
  width: 145px;
  border: none;
  font-family: 'Cinzel', serif;
  font-size: 1.2em;
  font-weight: normal;
}