#my-punches{
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
  padding: 22px;
}

.new-punch-button{
  background-color: #007FBA;
  border-radius: 2px;
  color: white;
  padding: 5px;
  height: 100%;
  width: 155px;
  border: none;
  font-family: 'Cinzel', serif;
  font-size: 1.2em;
  font-weight: lighter;
  margin-top: 20px
}